<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Edit your profile</h1>

    <%= form_for(resource, :as => resource_name, 
    :url => registration_path(resource_name), 
    :html => { :method => :put, role: "form" }) do |f| %>
  
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, class: "form-control" %>  
            <hr>
      </div>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <div class="form-group">
        <%= f.label :password %>
            <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
            <p class="help-block">
              Leave blank if you don't want to change it
            </p>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: "form-control" %>
        <p class="help-block">
          We need your current password to confirm your changes
        </p>
      </div>

      <div class="row">
        <div class="col-sm-9 actions">
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
      </div>    
 
      <% end %>
    </div>
  </div>