.row
  .col-sm-6.col-sm-offset-3
    .page-header
      %h1 Sign up

    %p.lead
      Create an account to save your test and start monitoring
      your site for free.


    = form_for(resource, :as => resource_name,  |
      :url => registration_path(resource_name), |
      :html => { :role => "form" }) do |f|      |
      = devise_error_messages!
      .form-group
        = f.label 'Your First Test'
        .well
          = checkit_test_to_html(session[:checkit_user_input], type_icon: true)
      .form-group
        = f.label :username
        = f.text_field :username, :autofocus => true, class: "form-control focus-here"
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control"
      .form-group
        = f.label :password
        = f.password_field :password, class: "form-control"
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: "form-control"
      .form-group
        = f.submit "Sign up", class: "btn btn-primary"
    = render "devise/shared/links"
