%html
  %body

    %p
      = @project_name

      - @apps.each do |app|
        %br
        &nbsp;
        &nbsp;
        = app.name

        - app.failing_requirements.each do |req|
          %br
          &nbsp;
          &nbsp;        
          &nbsp;
          &nbsp;        
          %span{style: 'color: red'}
            = req.to_s

      %p
        For details, see the #{@project_name} project page:
        %a{href: @project_url}
          = @project_url

      %p
        %br
        Cordially,
        %br
        Think 200