<%= form_for @requirement, html: { role: 'form' } do |f| %>
  <% if @requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% @requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field form-group">
      <%= f.hidden_field :app_id %>
      <%= f.label :name, 'It...' %>
      <%= f.text_field :name, class: 'form-control focus-here', placeholder: 'is online' %>
      <span class="help-block">
        <i>E.g.</i>,
      	<strong>is online</strong>, <strong>is secure</strong>, or
      	<strong>redirects to the new blog</strong>.<br> 
        This is the reason for the
        tests; a statement of a business need.
      </span>
    </div>

    <% if @requirement.persisted? %>
      <%= link_to delete_icon + ' Delete', @requirement, 
        method: :delete, 
        role: 'button', 
        class: 'btn btn-danger pull-right'
      %>
    <% end %>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %> or 
      <%= link_to 'cancel', project_path(@project) %>
    </div>
<% end %>
