<%= form_for @requirement, html: { role: 'form' } do |f| %>
  <% if @requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% @requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field form-group">
      <%= f.hidden_field :app_id %>
      <%= f.label :name, 'Requirement name' %>
      <%= f.text_field :name, class: 'form-control focus-here' %>
      <span class="help-block">
        A program to be monitored and tested. E.g., an API server, a web app, or and
        online app store.
      </span>
    </div>

    <% if @requirement.persisted? %>
      <%= link_to delete_icon + ' Delete', @requirement, 
        method: :delete, 
        role: 'button', 
        class: 'btn btn-danger pull-right'
      %>
    <% end %>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %> or 
      <%= link_to 'cancel', project_path(@project) %>
    </div>
<% end %>
