<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @requirement.name %>
</p>

<p>
  <strong>App:</strong>
  <%= @requirement.app_id %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
