<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to @requirement.app.project.name, @requirement.app.project %></li>
  <li><%= link_to @requirement.app.name, @requirement.app %></li>
  <li class="active"><%= @requirement.name %></li>
</ol>

<p id="notice"><%= notice %></p>

<h1>
  <%= @requirement.name %>
</h1>
<%= link_to 'Edit', edit_requirement_path(@requirement) %>


<h2 class="text-muted">Expectations</h2>

<ul>
    <% @requirement.expectations.each do |expectation| %>
        <li>
            <strong>
                <%= expectation.subject %>
            </strong>
            should
            <span class="text-warning">
              <%= expectation.matcher %>
            </span>
            <strong>
                <%= expectation.expectation %>
            </strong>            
        </li>
    <% end %>
</ul>



