= form_for @expectation, html: { role: 'form' } do |f|
  = f.hidden_field :requirement_id
  
  - if @expectation.errors.any?
    #error_explanation
      %h2
        = pluralize(@expectation.errors.count, "error")
        prohibited this app from being saved:
      %ul
        - @expectation.errors.full_messages.each do |msg|
          %li= msg


  .field.form-group
    = f.label :subject, 'Subject'
    = f.text_field :subject, class: 'form-control focus-here'
  .field.form-group
    = f.label :expected, 'Expected'
    = f.text_field :expected, class: 'form-control focus-here'
  .actions
    = f.submit class: 'btn btn-primary'
    or
    = link_to 'cancel', project_path(@project)
