.row
  .col-sm-offset-2.col-sm-6
    - if @expectation.errors.any?
      #error_explanation
        %h2
          = pluralize(@expectation.errors.count, "error")
          prevented this test from being saved:
        %ul
          - @expectation.errors.full_messages.each do |msg|
            %li= msg


= form_for @expectation, html: { role: 'form', class: 'form-horizontal' } do |f|
  = f.hidden_field :requirement_id  

  -# The subject
  .form-group
    = f.label :subject, 'This:', {class: 'col-sm-2 control-label'}
    .col-sm-6
      = f.text_field :subject, class: 'form-control focus-here', placeholder: 'URL or domain name'

  -# The matchers
  .form-group
    %label.col-sm-2.control-label Should:
    .col-sm-10
      %ul.list-group
        - Matcher.order(:code).each do |m|
          %li.list-group-item
            .row
              .col-xs-7
                %input{type: 'radio', id: "matcher-#{m.id}-radio", name: "matcher-radio", value: m.id}
                %span.lead
                  = fa_icon(m.icon, 'fa-fw')
                  = m.to_s
              - if m.min_args == 1
                .col-xs-5
                  %input.form-control{type: 'text', id: "matcher-#{m.id}-input", name: "matcher-#{m.id}-input", placeholder: m.placeholder}

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
      or
      = link_to 'cancel', project_path(@project)
