= form_for @expectation, html: { role: 'form' } do |f|
  = f.hidden_field :requirement_id
  
  - if @expectation.errors.any?
    #error_explanation
      %h2
        = pluralize(@expectation.errors.count, "error")
        prohibited this app from being saved:
      %ul
        - @expectation.errors.full_messages.each do |msg|
          %li= msg

  .row
    -# The subject
    .col-sm-4
      .field.form-group
        = f.label :subject, 'This'
        = f.text_field :subject, class: 'form-control focus-here', placeholder: 'URL or domain name'

    -# The matchers
    .col-sm-8
      .form-group
        %label Should
        %ul.list-group
          - Matcher.all.each do |m|
            %li.list-group-item
              = fa_icon(m.icon, 'fa-fw')

  .actions
    = f.submit class: 'btn btn-primary'
    or
    = link_to 'cancel', project_path(@project)
