.row
  .col-sm-offset-1.col-sm-10
    .page-header
      %h1.text-center
        = passed_icon
        #{@user_input.gsub(%r[^https?://],'')} is up
        %br
        %small
          Congratulations, you have your first passing test

.row
  .col-sm-offset-2.col-sm-8
    .row
      .col-sm-8
        %table
          %tr
            %td.lead{style: 'vertical-align: top'}
              %span.text-muted{style: 'white-space: nowrap'}
                #{fa_icon(@expectation.type_icon, 'fa-lg')}&nbsp;&nbsp;
            %td.lead
              = expectation_to_html(@expectation, type_icon: false)
      .col-sm-4
        %p{style: 'margin-top: 0.5em'}
          = @expectation.matcher.summary
    .row
      .col-sm-offset-2.col-sm-8
        %br
        %div
          %button.btn.btn-lg.btn-block.btn-success
            Save and start monitoring

