.row
  .col-sm-offset-1.col-sm-10
    .page-header
      %h1.text-center
        Test Results



    .row.pr-points
      .col-sm-6
        %h4 
          = Think200::HttpStatus.title(code: @http_status)
        %p 
          = "#{@user_input} is"
          = dquo(Think200::HttpStatus.title(code: @http_status))
          %br
          = "(code #{@http_status})"

      .col-sm-6
        = image_tag("#{@http_status}.svg", {class: 'img-responsive'})

    .row.pr-points
      .col-sm-6
        %h4 
          Is what you expect?
        %p 
          If you expected the web resource to be
          status
          = "#{@http_status},"
          then you can save this test, which is passing successfully.
          If, though, you 
          wanted a different status code, you
          can create a test which looks for that result.

      .col-sm-6
        %p
          

    .row.pr-points
      .col-sm-offset-3.col-sm-6
        .well
          %button.btn.btn-default.btn-lg.btn-block.btn-success
            Save this test
          %button.btn.btn-default.btn-lg.btn-block.btn-danger
            Create a different test
