.row
  .col-sm-offset-1.col-sm-10
    .page-header
      %h1.text-center
        #{@user_input.gsub(%r[^https?://],'')} is up
        = passed_icon

.row
  .col-sm-offset-2.col-sm-8
    %p.lead.text-center
      Congratulations, you have your first passing test:

    %row
      .col-sm-8
        %p
          %span.text-muted
            = fa_icon(@expectation.type_icon, 'fa-lg')
          %strong
            = @expectation.subject
          %span.text-muted
            should
          %strong
            = @expectation.matcher
      .col-sm-4
        %p
          Check for an #{dquo('OK')} (<code>200</code>)
          response, following up to four redirects.
    %row
      .col-sm-12
        %p 
          %button.btn.btn-default.btn-lg.btn-block.btn-success
            Save this test

