<%= form_for @project, html: { role: 'form' } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field form-group">
      <%= f.label :name, 'Project name' %>
      <%= f.text_field :name, class: 'form-control' %>
      <span class="help-block">
        A collection of apps which should all be tested together. For example,
        a “<%= APP_NAME %>” project would contain apps such as its API and this web site.
      </span>
    </div>
    <% if @project.persisted? %>
      <%= link_to font_awesome('times') + ' Delete', @project, 
        method: :delete, 
        role: 'button', 
        class: 'btn btn-danger btn-xs pull-right',
        style: 'margin-top: 4px' 
      %>
    <% end %>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %> or 
      <%= link_to 'cancel', cancel_dest %>
    </div>
<% end %>
