

<%= form_for @project, html: { role: 'form' } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field form-group">
      <%= f.label :name, 'Project name' %>
      <%= f.text_field :name, class: 'form-control' %>
      <span class="help-block">
        A collection of Apps which should all be tested together. For example,
        a <i>Think 200</i> project would contain Apps such as an API and this web site.
      </span>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-default' %> or 
      <%= link_to 'cancel', cancel_dest %>
    </div>
<% end %>
