<% 
  panel_class  = 'panel-success'
  column_class = tile_col_class
%>

<div class="<%= column_class %>">
  <div class="panel <%= panel_class %> project-tile" data-url="<%= project_path(tile) %>" data-class="<%= panel_class %>">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= link_to tile, project_path(tile) %>
	<%= render 'test_button', {project: tile} %>
      </h3>
    </div>
    <div class="panel-body">
      <%= image_tag '200-success.svg', style: "width: 132; margin-left: auto; margin-right: auto" %>
    </div>
  </div>
</div>
