<% 
  panel_class  = 'panel-danger' 
  column_class = tile_col_class
  limit = 1
%>

<div class="<%= column_class %>">
  <div class="panel <%= panel_class %> project-tile" data-url="<%= project_path(tile) %>" data-class="<%= panel_class %>">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= link_to tile, project_path(tile) %>
      	<%= render 'test_button', {project: tile} %>
      </h3>
    </div>
    <div class="panel-body text-danger">
      <table style="margin-bottom: 0.5em">
    	<% tile.failing_requirements.limit(limit).each do |r| %>
        <tr>

          <% if r.can_be_negated? %>
            <td></td>
            <td style="padding-bottom: 0.2em; line-height: 120%">
              <strong>
                The <%= r.full_name_without_project_negated.downcase %>.
              </strong>
            </td>
          <% else %>
            <td style="padding-bottom: 0.2em; line-height: 120%; vertical-align: top; padding-right: 0.5em;">Failed:</td>
            <td style="padding-bottom: 0.2em; line-height: 120%"><strong><%= r.full_name_without_project %></strong></td>
          <% end %>

        </tr>
      <% end %>
    	<% if tile.failing_requirements.count > limit %>
        <tr>
          <td></td>
          <td><small>
            <%= tile.failing_requirements.count - limit %> more&hellip;
          </small></td>
        </tr>
    	<% end %>
      </table>

    </div>
    <div class="panel-footer">
      <div class="tested-at">
        <%= timeago tile.tested_at %>
      </div>
    </div>
  </div>
</div>
