<% 
  panel_class = 'panel-danger' 
  column_class = 'col-md-3' 
  glyph = 'fire' 
  limit = 2
%>

<div class="<%= column_class %>">
  <div class="panel <%= panel_class %> project-tile" data-url="<%= project_path(tile) %>">
    <div class="panel-heading">
      <h3 class="panel-title">          
        <%= glyphicon('fire') %> <%= tile.name %>
      </h3>
    </div>
    <div class="panel-body">
    <table>
      <% tile.failing_requirements.limit(limit).each do |r| %>
          <tr>
            <td style="vertical-align: top"><%= failed_icon %></td>
            <td style="padding-bottom: 0.5em"><%= r.full_name_without_project %></td>
          </tr>
      <% end %>
      <% if tile.failing_requirements.count > limit %>
        <tr><td></td><td><span class="text-muted">more...</span></td></tr>
      <% end %>
    </table>
    </div>
  </div>
</div>