<% 
  panel_class  = 'panel-' + status_class_for(tile)
  column_class = tile_col_class
%>

  <div id="project-tile-<%= tile.id %>"  class="panel <%= panel_class %> project-tile" data-url="<%= project_path(tile) %>" data-class="<%= panel_class %>" data-tested-at="<%= tile.tested_at.to_i %>">
    <div class="panel-heading">
      <h3 class="panel-title">
      	<%= render 'projects/test_button', {project: tile} %>
        <%= tile %>
      </h3>
    </div>
    <div class="panel-body">
      <table style="width: 100%; height: 100%; font-size: 600%; line-height: 0.2em">
        <tr>
          <td style="text-align: center; color: #ddd">
            <%= fa_icon('fa-bar-chart-o', 'fa-large') %>
          </td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
      <div class="tested-at">
        <small>
        <% if tile.tested_at.nil? %>
          <span class="text-muted">(Not yet tested)</span>
        <% else %>
          <span class="text-muted">Tested</span>
          <%= timeago tile.tested_at %>
        <% end %>
        </small>
      </div>
    </div>
  </div>
