<% 
  panel_class  = 'panel-success'
  column_class = tile_col_class
%>

<div class="<%= column_class %>">
  <div class="panel <%= panel_class %> project-tile" data-url="<%= project_path(tile) %>" data-class="<%= panel_class %>" data-tested-at="<%= tile.tested_at.to_i %>">
    <div class="panel-heading">
      <h3 class="panel-title">
	<%= render 'test_button', {project: tile} %>
        <%= link_to tile, project_path(tile) %>
      </h3>
    </div>
    <div class="panel-body">
    </div>
    <div class="panel-footer">
      <div class="tested-at">
        <small>
        <% if tile.tested_at.nil? %>
          <span class="text-muted">(Not yet tested)</span>
        <% else %>
          <span class="text-muted">Tested</span>
          <%= timeago tile.tested_at %>
        <% end %>
        </small>
      </div>
    </div>
  </div>
</div>
