<% 
  panel_class = 'panel-warning'
  column_class = 'col-md-3 col-sm-4'
%>

<div class="<%= column_class %>">
  <div class="panel <%= panel_class %> project-tile" data-url="<%= project_path(tile) %>" data-class="<%= panel_class %>">
    <div class="panel-heading">
      <h3 class="panel-title">
	<span id="icon-<%= tile.id %>" class="fa fa-fw fa-question-circle" data-icon-class="fa-question-circle"></span>
        <%= tile.name %>
      </h3>
    </div>
    <div class="panel-body">
    </div>
  </div>
</div>
