<div class="row">
    <div class="col-sm-2">
        <%= link_to(font_awesome('plus') + ' New Project', new_project_path) %>
    </div>

    <div class="col-sm-7 col-md-8 cards">
        <header>
            <h1>All Projects</h1>
        </header>

        <div class="row">
          <%= render partial: 'tile', collection: @failed_projects %>
          <%= render partial: 'tile', collection: @passed_projects %>
        </div>

        <div class="row">
          <%= render partial: 'tile', collection: @unfinished_projects %>
        </div>
    </div>

    <div class="col-sm-3 col-md-2">
      <div class="well">
	<p><%= render 'layouts/server_status' %></p>
	<p><%= render 'layouts/progress_bar' %></p>
      </div>
    </div>
</div>
