<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <p><%= link_to(font_awesome('plus') + ' New Project', new_project_path) %></p>
      <hr>
      <p><%= render 'layouts/server_status' %></p>
      <p><%= render 'layouts/progress_bar' %></p>
    </div>

    <div class="col-xs-9 col-sm-7 col-md-9 col-lg-9 col-lg-offset-1 cards">
        <header>
            <h1>All Projects</h1>
        </header>

        <div class="row">
          <%= render partial: 'tile', collection: @failed_projects %>
          <%= render partial: 'tile', collection: @passed_projects %>
        </div>

        <div class="row">
          <%= render partial: 'tile', collection: @unfinished_projects %>
        </div>
    </div>
</div>
