%br>/
\ 
.row
  .col-xs-5.col-sm-3.col-md-2.col-lg-2
    %p= link_to(font_awesome('plus') + ' New Project', new_project_path)
    %hr/
    %p= render 'layouts/server_status'
    %p= render 'layouts/progress_bar'
    %hr/


    .alert.alert-info
      %p
        %strong
          In beta: 
        We run your tests hourly. Run them man&shy;ually as often
        as you like.
      %p
        <strong>Premium accounts and open source projects</strong> will 
        get con&shy;tinuous moni&shy;toring and extra queue workers.
      %p
        = feedback_link


  .col-xs-7.col-sm-9.col-md-10.col-lg-10.cards
    %header
      %h1 All Projects
    .row
      = render partial: 'tile', collection: @projects
