%div{id: "project-page-#{@project.id}", 'data-tested-at' => @project.tested_at.to_i}
  .page-header
    %h1
      = @project.name
      .tested-at{style: 'display: inline'}
        %small
          - if @project.tested_at
            tested #{timeago @project.tested_at}
          - else
            Not yet tested

  .row
    .col-sm-3.col-md-2.col-lg-2
      %ul.nav.nav-pills
        %li
          = link_to(render('projects/test_button', {project: @project, align: 'fa-fw'}) + ' Refresh', '#', {class: 'test-button', 'data-project-id' => @project.id})
          = render 'layouts/progress_bar'
        %li= link_to(font_awesome('plus', 'fa-fw fa-lg')+' New App', new_app_path(project_id: @project.id))
        %li= link_to font_awesome('pencil', 'fa-fw fa-lg')+' Edit project', edit_project_path(@project)
        %li= link_to font_awesome('cloud-download', 'fa-fw fa-lg') + ' Export', '#', {'data-toggle'=>"modal", 'data-target'=>".export-modal"}

    .col-sm-9.col-md-10.col-lg-10
      %h2.cards Apps
      - @project.apps.each do |app|
        = render 'apps/tile', { app: app }
