<div class="row">
    <div class="col-sm-9">
        <h1 style="margin-top: 0"><%= @project.name %></h1>

        <div class="row">

            <div class="col-sm-2">
                <%= link_to(font_awesome('plus') + ' New App', new_app_path) %>
            </div>

            <div class="col-sm-7 cards"> 
                <h2>Apps</h2>
                <ul style="list-style-type: none; padding-left: 0em">
                    <% @project.apps.each do |app| %>
                        <li>
                            <%= status_icon_for(app) %> <%= link_to app.name, app %>
                        </li>
                    <% end %>
                </ul>
            </div>    

        </div>  
    </div>

    <div class="col-sm-3">
        <%= link_to font_awesome('pencil', 'fa-fw')+' Edit this project', edit_project_path(@project) %>
        <br>
        <%= font_awesome('download', 'fa-fw') %> Export: 
        <%= link_to 'RSpec', project_export_path(@project, format: 'rspec') %>
        <span class="text-muted">|</span>
        <%= link_to 'text',  project_export_path(@project, format: 'txt') %>
    </div>
</div>