<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li class="active"><%= @project.name %></li>
</ol>

<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>
<p><%= link_to 'Edit', edit_project_path(@project) %></p>

<h2 class="text-muted">Apps</h2>

<ul style="list-style-type: none; padding-left: 1em">
    <% @project.apps.each do |app| %>
        <li>
            <%= status_icon_for(app) %> <%= link_to app.name, app %>
        </li>
    <% end %>
</ul>

