.row
  .col-sm-10
    %p{class: status_class_for(exp)}
      = fa_icon(exp.matcher.icon, 'fa-lg fa-fw')
      %strong= exp.subject
      %span.text-semi-muted should
      = exp.matcher
      %strong= exp.expected
  .col-sm-2
    .pull-right
      = make_button(icon_class: delete_icon_class, href: exp, method: :delete, subtle: true)
