<%= form_for @app, html: { role: 'form' } do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field form-group">
      <%= f.label :name, 'App name' %>
      <%= f.text_field :name, class: 'form-control' %>
      <span class="help-block">
        A program to be monitored and tested. E.g., an API server, a web app, or and
        online app store.
      </span>
    </div>
    <% if @app.persisted? %>
      <%= link_to delete_icon + ' Delete', @app, 
        method: :delete, 
        role: 'button', 
        class: 'btn btn-danger pull-right'
      %>
    <% end %>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %> or 
      <%= link_to 'cancel', cancel_dest %>
    </div>
<% end %>
