<%= form_for @app, html: { role: 'form' } do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field form-group">
      <%= f.hidden_field :project_id %>
      <%= f.label :name, 'App name' %>
      <%= f.text_field :name, class: 'form-control focus-here', placeholder: 'website' %>
      <span class="help-block">
        E.g., <strong>website</strong>, <strong>API server</strong>, <strong>web app</strong>, or an
        <strong>app store listing</strong>.
	A program to monitor and test. 
      </span>
    </div>

    <% if @app.persisted? %>
      <%= link_to delete_icon + ' Delete', @app, 
        method: :delete, 
        role: 'button', 
        class: 'btn btn-danger pull-right'
      %>
    <% end %>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %> or 
      <%= link_to 'cancel', project_path(@app.project) %>
    </div>
<% end %>
