%div{class: "app-tile panel panel-"+status_class_for(app) }

  .panel-heading
    %h3= app

  %table.table.table-bordered
    %thead
    %tbody

      - app.requirements.each do |req| 
        %tr
          %th{colspan: "4"}
            %h4
              = req

        - req.expectations.each do |exp|
          %tr{class: 'text-'+status_class_for(exp, only: 'danger')}
            %td{style: "text-align: center"}= status_icon_for(exp)
            %td
              %strong= exp.subject
            %td
              %span.text-muted should
              = exp.matcher
            %td
              %strong= exp.expected


