%div{class: "panel panel-"+status_class_for(app) }

  .panel-heading
    %h4 
      = status_icon_for(app)
      = app

  .panel-body
    - app.requirements.each do |req| 
      %h5
        = req
      %table.table
        %thead
        %tbody
          - req.expectations.each do |exp|
            %tr
              %td= status_icon_for(exp)
              %td= exp.subject
              %td
                %span.text-muted should
                = exp.matcher
              %td= exp.expected


