%div.panel.panel-default.app-tile

  .panel-heading
    .row
      .col-sm-10
        %h3.panel-title
          = app.name 
      .col-sm-2
        .pull-right
          = subtle_button(icon_class: 'fa-plus', href: new_requirement_path(app_id: app.id))
          = subtle_button(icon_class: 'fa-pencil', href: edit_app_path(app))

  .panel-body
    - app.requirements.each do |req| 
      .row
        .col-sm-10
          %h4= req
        .col-sm-2
          .pull-right
            = subtle_button(icon_class: 'fa-plus', href: new_expectation_path(requirement_id: req.id))
            = subtle_button(icon_class: 'fa-pencil', href: edit_requirement_path(req))
 
      - req.expectations.each do |exp|
        = render partial: 'apps/expectation', locals: {exp: exp}

