%div{class: "panel panel-"+status_class_for(app) }

  .panel-heading
    %h3{style: "margin:0"}
      = app

  %table.table.table-bordered
    %thead
    %tbody

      - app.requirements.each do |req| 
        %tr
          %th
          %th{colspan: "3"}
            %h4{style: "margin: 1em 0 0 0"}
              = req

        - req.expectations.each do |exp|
          %tr{class: 'text-'+status_class_for(exp, only: 'danger')}
            %td= status_icon_for(exp)
            %td= exp.subject
            %td
              %span.text-muted should
              = exp.matcher
            %td= exp.expected


