<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to @app.project.name, @app.project %></li>
  <li class="active"><%= @app.name %></li>
</ol>


<p id="notice"><%= notice %></p>

<h1><%= @app.project.name + ' ' + @app.name %></h1>

<input type="button" value="Re-test" class="btn btn-primary" onclick="location.href='<%= retest_project_path(@app.project.id) %>';">

<input type="button" value="Edit" class="btn btn-default" onclick="location.href='<%= edit_app_path(@app) %>';">

<h2 class="text-muted">Requirements</h2>


<ul>
    <% @app.requirements.each do |r| %>
        <li>
            it <strong><%= r %></strong>:
            <ul>
                <% r.expectations.each do |expectation| %>
                    <li>
                        <strong>
                            <%= expectation.subject %>
                        </strong>
                        should
                        <span class="text-warning">
                          <%= expectation.matcher %>
                        </span>
                        <strong>
                            <%= expectation.expected %>
                        </strong>      
                    </li>
                <% end %>
            </ul>
        </li>
    <% end %>
</ul>

