<h1><%= status_icon_for(@app) %> <%= @app.project.name + ' ' + @app.name %></h1>

<%= link_button 'Re-test', 'btn-primary', retest_project_path(@app.project.id) %>
<%= link_button 'Edit',    'btn-default', edit_app_path(@app) %>

<h2 class="text-muted" style="margin-top: 1.5em">Requirements</h2>

<ul style="list-style-type: none; padding-left: 1em">
    <% @app.requirements.each do |r| %>
        <li style="padding-top: 1em">
            <span class="h3"><%= status_icon_for(r) %> it <strong><%= r %></strong></span> 
            <ul style="list-style-type: none; padding-left: 1em">
                <% r.expectations.each do |expectation| %>
                    <li>
                        <%= status_icon_for(expectation) %>
                        <strong><%= expectation.subject %></strong>
                        should
                        <span class="">
                          <%= expectation.matcher %>
                        </span>
                        <% if expectation.expected %>
                            <strong><%= expectation.expected %></strong>     
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </li>
    <% end %>
</ul>

