<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to @app.project.name, @app.project %></li>
  <li class="active"><%= @app.name %></li>
</ol>


<p id="notice"><%= notice %></p>

<h1><%= @app.project.name + ' ' + @app.name %></h1>
<%= link_to 'Edit', edit_app_path(@app) %>

<h2 class="text-muted">Requirements</h2>

<ul>
    <% @app.requirements.each do |r| %>
        <li>
            <%= link_to r.name, r %>
        </li>
    <% end %>
</ul>

