.row
  .col-xs-offset-2.col-xs-8
    .page-header
      %h1 Sign up


    = form_for(resource, :as => resource_name,  |
      :url => registration_path(resource_name), |
      :html => { :role => "form" }) do |f|      |
      = devise_error_messages!

      .row
        .col-xs-6

          %p.lead
            Create a free account to save your test and start monitoring
            your site.

          .form-group
            = f.label 'Your First Test'
            .well.lead
              = checkit_test_to_html(@user_input, type_icon: true)

        .col-xs-6
          .form-group
            = f.label :username
            = f.text_field :username, :autofocus => true, class: "form-control focus-here"
          .form-group
            = f.label :email
            = f.email_field :email, class: "form-control"
          .form-group
            = f.label :password
            = f.password_field :password, class: "form-control"
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, class: "form-control"
          .form-group
            = f.submit "Sign up", class: "btn btn-primary"
    = render "devise/shared/links"
